[Unit]
Description=Just Relax backend engine daemon
After=postgresql.service

[Service]
Type=forking

ExecStart=/opt/justrelax/backend/venv/bin/twistd --pidfile=/opt/justrelax/backend/justrelax.backend.pid --logger=justrelax.common.logging.DisableTwistdLogs -o orchestrator -c /opt/justrelax/backend/etc/orchestrator.yaml

TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
