[Unit]
Description=Justrelax orchestrator daemon
After=network-online.target

[Service]
Type=simple

ExecStart=/home/pi/venv_justrelax/bin/twistd -n --pidfile=/var/run/justrelax.backend.pid --logger=justrelax.common.logging_utils.DisableTwistdLogs -o orchestrator -c /etc/justrelax/orchestrator.yaml

TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
