[Unit]
Description=Music player node daemon
After=multi-user.target

[Service]
Type=simple

Environment="XDG_RUNTIME_DIR=/run/user/1000"

User=justescape
Group=justescape

ExecStart=/home/justescape/venv_justrelax/bin/start-node-music-player -c /etc/justrelax/music_player.yaml --log-level DEBUG

TimeoutStopSec=15

[Install]
WantedBy=sound.target
