[Unit]
Description=Rotary node daemon
After=network-online.target

[Service]
Type=simple

ExecStart=/home/pi/venv_justrelax/bin/start-node-rotary -c /etc/justrelax/rotary.yaml

TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
