[Unit]
Description=Output device node daemon
After=network-online.target

[Service]
Type=simple

ExecStart=/home/pi/venv_justrelax/bin/start-node-output-device -c /etc/justrelax/output_device.yaml

TimeoutStopSec=15

[Install]
WantedBy=multi-user.target