[Unit]
Description=Holographic menu node daemon
After=network-online.target

[Service]
Type=simple

ExecStart=/home/pi/venv_justrelax/bin/start-node-holographic-menu -c /etc/justrelax/holographic_menu.yaml

TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
