[Unit]
Description=Holographic menu node daemon
After=network-online.target

[Service]
Type=simple

ExecStart=/home/pi/venv_justrelax/bin/twistd -n --pidfile=/var/run/holographic_menu.pid --logger=justrelax.common.logging_utils.DisableTwistdLogs -o holographicmenu -c /etc/justrelax/holographic_menu.yaml

TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
