[Unit]
Description=Hologram player node daemon
After=network-online.target

[Service]
Type=simple

ExecStart=/home/pi/venv_justrelax/bin/twistd -n --pidfile=/var/run/hologram_player.pid --logger=justrelax.common.logging_utils.DisableTwistdLogs -o hologramplayer -c /etc/justrelax/hologram_player.yaml

TimeoutStopSec=15

[Install]
WantedBy=multi-user.target