[Unit]
Description=Ventilation panel node daemon
After=network-online.target

[Service]
Type=simple

ExecStart=/home/pi/venv_justrelax/bin/start-node-ventilation-panel -c /etc/justrelax/ventilation_panel.yaml

TimeoutStopSec=15

[Install]
WantedBy=multi-user.target