[Unit]
Description=Lights node daemon
After=network-online.target

[Service]
Type=simple

ExecStart=/home/pi/venv_justrelax/bin/start-node-lights -c /etc/justrelax/lights.yaml

TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
